<!-- templates/cats/index.html -->


<!-- main_app/templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="heading">
    <h1>Gallery</h1>
</div>
<hr />
<div class="btn_container">
    <a href="/cats/create" class="waves-effect waves-light btn">Add a New Cat!</a>
</div>

<section class="gallery">

<div class="row">
    {% for cat in cats %}

    <div class="col s12 m10 l3 xl2 gallery__item">
        <p>Name: {{ cat.name }}</p>
    
    <p>Adopted By: <a href='/user/{{cat.user.username}}'>{{cat.user.username}}</a></p>
    {% if cat.age > 0 %}
        <p>Age: {{ cat.age }}</p>
    {% else %}
        <p>Age: Kitten</p>
    {% endif %}
    <a href="{% url 'cats_show' cat.id %}">See Details</a> 

    </div>
    {% endfor %}
</div>
</section>
    
{% endblock %}
