<!-- templates/cats/index.html -->


<!-- main_app/templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="heading">
    <h1>Gallery</h1>
</div>
<hr />
<div class="btn_container">
    <a href="/cats/create" class="waves-effect waves-light btn">Add a New Cat!</a>
</div>



<div class="row">
    {% for cat in cats %}

    <div class="col s6 l3">
        <p>Name: {{ cat.name }}</p>
    <a href='/user/{{cat.user.username}}'>
    <p>Adopted By: {{cat.user.username}}</p>
    </a>
    {% if cat.age > 0 %}
        <p>Age: {{ cat.age }}</p>
    {% else %}
        <p>Age: Kitten</p>
    {% endif %}
    <a href="{% url 'cats_show' cat.id %}">See Details</a> 

    </div>
    {% endfor %}
</div>
    
{% endblock %}
