{% extends 'base.html' %}
{% block content %}
    <!-- templates/cats/detail.html -->
<div class="card-content">
    <span class="card-title">{{ cat.name }}</span>
    <p>Breed: {{ cat.breed }}</p>
    <p>Description: {{ cat.description }}</p>
    <p>Owner: {{ cat.user }}</p>
    {% if cat.age > 0 %}
        <p>Age: {{ cat.age }}</p>
    {% else %}
        <p>Age: Kitten</p>
    {% endif %}
    {% for cattoy in cat.cattoys.all %}
    <div>{{cattoy.name}}</div>
{% empty %}
    <div>Cat Has No Toys :(</div>
{% endfor %}
    <!-- Add links for update and delete here... -->
    <a href="{% url 'cats_update' cat.id %}" class="waves-effect waves-light btn">Update Details</a>
    <a href="{% url 'cats_delete' cat.id %}" class="waves-effect waves-light btn">DELETE This Cat</a>
</div>
{% endblock %}